<!DOCTYPE html>
<html>

<head>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>


<%= yield %>
<div class = "container">

  <title>Chefhub</title>
<h2>About ChefHub</h2>

	<div class="col-xs-9">

       <p>Ya'll can never access your reviews. You forget the link. That fucking email gets lost. I sometimes freaking just forget to send it TBH. Well now you know what? No more emails. No more Google Docs. No more nonsense. Just code. </p>

       <p>Welcome to ChefHub. Your one stop solution to become efficient, happy, cooking badasses. Brought to you by T.Pres and N.Kamz </p>
    </div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="col-xs-9 col-centered">
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-md" %>
<%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-md" %>
</div>
</div>
</body>
</html>
